.navBar{
  display: flex;
  background-color: #563D7C;
  padding: 6%;
}
a{
  color: #CBBCE2;
  font-size: 25px;
  text-align: center;
}

a:hover{
  color: #fff;
}

.stocks{
  width: 33%;
}

.favourites{
width: 33%;
}

.cart{
width: 33%;
}